*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.new-account{
    background-color:#f2f4f7;
    min-height:100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.new-account-container{
    /* background-color:white; */
    display: flex;
    flex-direction: column;
    /* width:30rem; */
    padding:1rem ;
    gap:1rem;

}

.top{
/* background-color: blue; */
display: flex;
justify-content: center;
align-items: center;

}
.top h1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
}

.buttom{
    /* background-color: cadetblue; */
    background-color:white;
    border:0.5px solid black;
    border-radius: 0.5rem;
    border-color: #bcbebe;
    display: flex;
    flex-direction: column;
    /* gap:1rem; */
    justify-content: start;
    align-items: start;
    width:27rem;

}

.buttom>.create-new-account{
    /* background-color: yellow; */
    width:27rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0.9rem;
    line-height:1.5rem;
    /* gap:2rem; */

}

.buttom>.create-new-account>h1,p{
    /* background-color: pink; */
    width:25rem;
    text-align: center;
}

.buttom>.create-new-account>h1{
    font-size: 1.56rem;
}
.buttom>.create-new-account>p{
    font-size: 0.9rem;
}

.buttom>.create-new-account>hr{
    width:27rem;
    margin-top:1rem;
}

.new-account-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center; 
    width:27rem;
     gap:0.5rem;
}

.new-account-input>.user-name{
    
    display: flex;
    justify-content:center;
    align-items: center;
    gap:0.6rem;
}

.new-account-input>.user-name>input{
width:12.2rem;
font-size: 0.93rem;
padding:0.68rem;
border-radius:0.4rem;
border-color:rgba(0,0,0,0.3)

}

.new-account-input>.user-name>input:focus{
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
}

.new-account-input>.user-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    
}

.new-account-input>.user-email>input{
width:25rem;
padding:0.68rem;
font-size: 0.93rem;
border-radius:0.4rem;
border-color:rgba(0,0,0,0.3);
}

.new-account-input>.user-email>input:focus{
      outline: none;
      border: 1px solid rgba(0,0,0,0.3);
}

.user-birth-information {

    display: flex;
    flex-direction: column;
    gap:0.5rem;
    
}
.user-birth-information>label{
display: flex;
justify-content:start;
align-items: start;
/* background-color: yellow; */
padding:0.13rem 0 0 0;
}

.user-birthdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.66rem; 
}

.user-birthdate select {
    padding: 0.5rem; 
    font-size: 1rem; 
    border-radius: 0.3rem; 
    border: 1px solid #ccc;
    width: 7.9rem; 
}

.user-birthdate select:focus {
    border-color: #1877f2; 
}

.user-gender-information{
    display: flex;
    flex-direction: column;
     gap:0.5rem;
}

.user-gender-information>label{
    display: flex;
    justify-content:start;
    align-items: start;
    /* background-color: yellow; */
    width:25rem;
    padding:0.13rem 0 0 0;
}

.user-gender-information>.user-gender{
display: flex;
justify-content: space-between;
align-items: center;
gap:0.66rem;
}

.gender-option{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap:0.56rem;
     padding: 0.5rem 1.1rem;
    font-size: 1rem;
    background-color:#fff; 
    border-radius: 0.3rem;
    border: 1px solid #ccc; 
    width: 8rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color:#1c1e21;
    
}

#gender-male{
    width:6.875rem;
}

#gender-others{
    width:8.12rem;
}

.fb-info{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:start;
    
}

.fb-info,#fb-note,#fb-policy{
    color:#777;
    text-align: start;
    font-size: 0.8rem;
    padding:0.2rem;
}

.learn{
    color:#385898;
    font-size: 0.8rem;
    text-decoration: none;
}
.learn:hover{
    text-decoration: underline;
}

.user-signup-button{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:1rem 0 0 0;
}

.user-signup>button{
    width:12.12rem;
    padding:0.5rem;
    font-size: 1.2rem;
    color:#fff;
    background-color: #00a400;
    font-weight: 600;
    border:none;
    border-radius: 0.4rem;
    

}
.user-signup>button:hover{
cursor: pointer;
}
.user-account{
   
   padding:0 0 1.5rem 0;
}

.account{
  
    color:#1877f2;
    text-decoration: none;
    font-size: 1.1rem;
    padding:0 5rem 0 5rem;
    
}