*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.facebook-login{
    
    background-color:#f2f4f7;
    min-height:100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    font-family: "Arial";
    
}

.facebook-login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     

}
.top{
    padding:0.4rem;
}
.top, .buttom{
    width:26rem;
    border-radius: 0.8rem;
    
}
.top h1{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color:#1877f2;
    
}

.buttom{
    background-color:white;
    display: flex;
    flex-direction: column;
    gap:0.7rem;
    padding-top: 0rem;
}

.buttom, .login-facebook{
   
padding:0.7rem 1rem;
}
.login-facebook{
    /* background-color: pink; */
}

.buttom, .login-facebook p{
    font-size: 1.2rem;
    color:#151616;
    font-family: inherit;
}

.login-facebook-input{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
   
}

.login-facebook-input input{
    padding:0.9rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    border:1px solid;
    border-color: rgb(223, 220, 220);
    
}

.login-facebook-input input:focus{
    outline: none;
      border: 1px solid rgb(223, 220, 220); ;
}

.login{
    border-radius: 0.5rem;
    
}

.login, button{
background-color:#1678f7;
border:none;
color:#fff;
font-size: 1.4rem;
font-weight: 600;
padding:0.4rem;

}

.login, button:hover{
    cursor: pointer;

}

.fb-login-account{
    
}

.fb-login-account a{
color:#1877f2;
text-decoration: none;
font-size: 1rem;

}

.fb-login-account a:hover{
    text-decoration:underline;
}

.line{
    display: flex;
    justify-content: center;
    text-align: center;
}
.line hr{
    margin: 11px;
    width:100%;
    height:0px;
    opacity: 0.5;
   
}

.line span{
    font-size: 0.9rem;
    opacity: 0.6;
}

.new-account{
  
    
}
.new-account button{
    width:12rem;
    background-color: #42b72a;
    border-radius: 0.5rem;
    padding:0.8rem;

}

.new-account button a{
    text-decoration: none;
    color:#fff;
    font-size: 1.1rem;
   
}

.new-account button:hover{
    background-color: #20a804;
}
.new-account button a:hover{
    cursor: pointer;
 
}